*,:after,:before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.15;
}

body {
  margin: 0;
}

button,input,optgroup,select,textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

summary {
  display: list-item;
}

:root {
  --teal-50: #eaf9f9;
  --teal-100: #d9f4f3;
  --teal-200: #ccf0ef;
  --teal-300: #99e1df;
  --teal-400: #66d1d0;
  --teal-500: #33c2c0;
  --teal-600: #00b3b0;
  --teal-700: #00918e;
  --teal-800: #007573;
  --teal-900: #004f4d;
  --teal-950: #002d2d;
  --white: #fff;
  --black: #000;
  --grayscale-950: #101010;
  --grayscale-900: #1f1f1f;
  --grayscale-800: #44474a;
  --grayscale-700: #595959;
  --grayscale-600: #6d6d6d;
  --grayscale-500: #7f7f7f;
  --grayscale-400: #939393;
  --grayscale-300: #a8a8a8;
  --grayscale-200: silver;
  --grayscale-100: #ddd;
  --grayscale-50: #f5f5f7;
  --blue-50: #eef8ff;
  --blue-100: #d9eeff;
  --blue-200: #bce2ff;
  --blue-300: #8ed0ff;
  --blue-400: #59b5ff;
  --blue-500: #3394fe;
  --blue-600: #1c76f4;
  --blue-700: #155ee0;
  --blue-800: #184db5;
  --blue-900: #1b4898;
  --blue-950: #142b57;
  --purple-50: #f5f2ff;
  --purple-100: #ebe8ff;
  --purple-200: #dad4ff;
  --purple-300: #c0b1ff;
  --purple-400: #a185ff;
  --purple-500: #8d60ff;
  --purple-600: #7530f7;
  --purple-700: #671ee3;
  --purple-800: #5518bf;
  --purple-900: #47169c;
  --purple-950: #2b0b6a;
  --yellow-50: #fffbeb;
  --yellow-100: #fff5c6;
  --yellow-200: #ffe988;
  --yellow-300: #ffd953;
  --yellow-400: #ffc933;
  --yellow-500: #f5c003;
  --yellow-600: #df9900;
  --yellow-700: #b96e04;
  --yellow-800: #96540a;
  --yellow-900: #7b450c;
  --yellow-950: #472401;
  --red-50: #fef3ee;
  --red-100: #fce5d8;
  --red-200: #f9c6af;
  --red-300: #f49f7d;
  --red-400: #ef6d48;
  --red-500: #eb4b28;
  --red-600: #dc2f1a;
  --red-700: #b72117;
  --red-800: #911d1b;
  --red-900: #751b19;
  --red-950: #6a110f;
  --orange-50: #fffaed;
  --orange-100: #fff4d4;
  --orange-200: #ffe5a8;
  --orange-300: #ffd070;
  --orange-400: #ffb037;
  --orange-500: #ff9204;
  --orange-600: #f07b06;
  --orange-700: #c75d07;
  --orange-800: #9e480e;
  --orange-900: #7f3d0f;
  --orange-950: #451d05;
  --green-50: #f6ffe4;
  --green-100: #eaffc5;
  --green-200: #d4ff92;
  --green-300: #b7ff53;
  --green-400: #99fb20;
  --green-500: #71d300;
  --green-600: #5cb500;
  --green-700: #468902;
  --green-800: #396c08;
  --green-900: #325b0c;
  --green-950: #163300;
  --blue-text-gradient: linear-gradient(90deg,var(--blue-800) 0%,var(--blue-400) 33%);
  --green-text-gradient: linear-gradient(90deg,var(--green-800) 0%,var(--green-500) 33%);
  --yellow-text-gradient: linear-gradient(90deg,var(--yellow-800) 0%,var(--yellow-600) 33%);
  --orange-text-gradient: linear-gradient(90deg,var(--orange-800) 0%,var(--orange-500) 33%);
  --red-text-gradient: linear-gradient(90deg,var(--red-800) 0%,var(--red-500) 33%);
  --purple-text-gradient: linear-gradient(90deg,var(--purple-800) 0%,var(--purple-400) 33%);
  --pastel-blue-yellow-gradient: linear-gradient(-180deg,var(--blue-100) 0%,var(--yellow-50) 100%);
  --joyconf-gradient: linear-gradient(135deg,var(--blue-100) 10%,var(--purple-200) 25%,var(--orange-300) 60%);
  --ink-200: #d1d3d9;
  --ink-400: #a4a7b2;
  --ink-600: #767c8c;
  --ink-700: #495065;
  --ink-800: #333a54;
  --ink-900: #1b243f;
  --ink-950: #0d1831;
  --gray-100: #8d919c;
  --light-gray-40: #f7f9fc;
  --light-gray-60: #eff1f4;
  --light-gray-80: #e7eaee;
  --light-gray-100: #dde3ee;
  --light-gray-100-alt: #dfe3e8;
  --gray-120: #5b6278;
  --gray-130: #848a97;
  --gray-140: #b1b5be;
  --pink-600: #fd5fae;
  --light-gray-120: #fafafa;
  --background-color: var(--white);
  --background-color-alt: var(--grayscale-50);
  --background-color-hover: var(--blue-50);
  --text-color: var(--grayscale-900);
  --text-color-alt: var(--grayscale-800);
  --text-color-hover: var(--blue-800);
  --background-color-dark-theme: var(--grayscale-900);
  --background-color-alt-dark-theme: var(--grayscale-800);
  --background-color-hover-dark-theme: var(--blue-950);
  --text-color-dark-theme: var(--white);
  --text-color-alt-dark-theme: var(--grayscale-200);
  --text-color-hover-dark-theme: var(--blue-200);
  --astro-code-color-background-1: var(--grayscale-950);
  --astro-code-color-background-2: var(--grayscale-900);
  --astro-code-color-background-3: var(--grayscale-500);
  --success-text-color: var(--green-800);
  --success-background-color: var(--green-100);
  --warning-text-color: var(--yellow-800);
  --warning-background-color: var(--yellow-100);
  --error-text-color: var(--red-800);
  --error-background-color: var(--red-100);
  --learn-text-color: var(--blue-800);
  --learn-background-color: var(--blue-100);
  --quote-text-color: var(--grayscale-700);
  --quote-background-color: var(--grayscale-50);
  --default-font-size: 16px;
  --font-family-primary: "Marfa","ABC Marfa Fallback",sans-serif;
  --font-family-monospace: monospace;
  --font-family-decorative-handwriting: "Caveat",serif;
  --font-size-xs: .75rem;
  --line-height-xs: 1rem;
  --font-size-sm: .875rem;
  --line-height-sm: 1.25rem;
  --font-size-base: 1rem;
  --line-height-base: 1.5rem;
  --font-size-lg: 1.125rem;
  --line-height-lg: 1.75rem;
  --font-size-xl: 1.25rem;
  --line-height-xl: 1.75rem;
  --font-size-2xl: 1.5rem;
  --line-height-2xl: 2rem;
  --font-size-3xl: 1.875rem;
  --line-height-3xl: 2.25rem;
  --font-size-4xl: 2.25rem;
  --line-height-4xl: 2.5rem;
  --font-size-5xl: 3rem;
  --line-height-5xl: 3.875rem;
  --font-size-6xl: 3.75rem;
  --line-height-6xl: 4.5rem;
  --font-size-7xl: 4.5rem;
  --line-height-7xl: 5rem;
  --font-size-8xl: 6rem;
  --line-height-8xl: 6.875rem;
  --font-size-9xl: 8rem;
  --line-height-9xl: 8.75rem;
  --h1-font-size: var(--font-size-4xl);
  --h1-line-height: var(--line-height-4xl);
  --h2-font-size: var(--font-size-2xl);
  --h2-line-height: var(--line-height-2xl);
  --h3-font-size: var(--font-size-2xl);
  --h3-line-height: var(--line-height-2xl);
  --h4-font-size: var(--font-size-2xl);
  --h4-line-height: var(--line-height-2xl);
  --spacing-2xs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-base: 8px;
  --spacing-md: 10px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 48px;
  --spacing-4xl: 80px;
  --spacing-5xl: 120px;
  --border-radius-base: var(--spacing-base);
  --border-radius-lg: var(--spacing-md);
  --border-radius-xl: var(--spacing-xl);
  --border-radius-2xl: var(--spacing-2xl);
  --sticky-nav-height: 82px;
  --sticky-preview-warning-height: 52px;
  --sticky-base-offset: var(--sticky-nav-height);
  --default-container-padding-inline: var(--spacing-2xl);
  --default-container-max-width: calc(var(--breakpoint-xl) + var(--default-container-padding-inline)*2);
  --small-container-max-width: 731px;
  --default-icon-size: var(--spacing-2xl);
  --boxes-slider-interface-padding-inline: var(--default-container-padding-inline);
  --boxes-slider-box-image-height: 320px;
  --boxes-slider-box-image-height-small: 180px;
  --boxes-slider-box-image-height-portrait: 500px;
  --heading-margin-block-start-em: 1.25;
  --heading-margin-block-end-em: .4;
  --paragraph-margin-block-em: .75;
  --button-height-tag: 26px;
  --button-height-sm: 34px;
  --button-height-base: 42px;
  --button-height-lg: 50px;
  --button-height-xl: 58px;
  --button-height-gigantic-at-xxs: 80px;
  --button-height-gigantic-at-xs: 110px;
  --button-height-gigantic-at-md: 150px;
  --button-padding-inline-base: 20px;
  --text-color-form-label: var(--text-color);
  --text-color-placeholder: var(--grayscale-500);
  --input-focus-box-shadow: 0 0 0 3px rgb(from var(--text-color) r g b/5%);
  --input-border-width: 1px;
  --input-border: var(--input-border-width) solid var(--grayscale-100);
  --input-height: var(--button-height-base);
  --input-padding-inline: 15px;
  --label-font-size: var(--font-size-sm);
  --label-line-height: var(--line-height-sm);
  --label-font-weight: 500;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1480px;
  --outline-width: 2px;
  --outline-color: var(--blue-500);
  --modal-box-shadow: 0 3px 44px 13px rgb(from var(--black) r g b/8%);
  --modal-backdrop-background-color: rgb(from var(--black) r g b/30%);
  --codeblock-font-size: var(--font-size-sm);
  --codeblock-line-height: var(--line-height-sm);
  --z-index-preview-warning: 10;
  --z-index-tooltip: 10;
  --z-index-dropdown: 15;
  --z-index-header: 20;
  --z-index-header-dropdown: 30;
  --z-index-skip-link: 40;
  --z-index-form-editor-panel: 9999;
  --z-index-video-modal-backdrop: 10000;
  --z-index-video-modal: 10001;
  --z-index-cookie-notice: 10000000;
}

@media (width>=768px) {
  :root {
    --h1-font-size: var(--font-size-5xl);
    --h1-line-height: var(--line-height-5xl);
    --h2-font-size: var(--font-size-4xl);
    --h2-line-height: var(--line-height-4xl);
    --h3-font-size: var(--font-size-3xl);
    --h3-line-height: var(--line-height-3xl);
  }
}

@media (width>=1280px) {
  :root {
    --h1-font-size: var(--font-size-6xl);
    --h1-line-height: var(--line-height-6xl);
  }
}

@font-face {
  ascent-override: 89.2534%;
  descent-override: 23.9688%;
  font-family: ABC Marfa Fallback;
  line-gap-override: 0%;
  size-adjust: 107.223%;
  src: local(Arial),local(ArialMT);
}

@font-face {
  ascent-override: 87.9652%;
  descent-override: 23.6228%;
  font-family: ABC Marfa Medium Fallback;
  font-weight: 500;
  line-gap-override: 0%;
  size-adjust: 108.793%;
  src: local(Arial),local(ArialMT);
}

@font-face {
  ascent-override: 92.0524%;
  descent-override: 24.7204%;
  font-family: ABC Marfa Fallback;
  font-weight: 700;
  line-gap-override: 0%;
  size-adjust: 103.963%;
  src: local(Arial Bold),local(Arial-BoldMT);
}

@font-face {
  ascent-override: 91.8683%;
  descent-override: 24.671%;
  font-family: ABC Marfa Black Fallback;
  font-weight: 900;
  line-gap-override: 0%;
  size-adjust: 104.171%;
  src: local(Arial Bold),local(Arial-BoldMT);
}

@font-face {
  font-display: swap;
  font-family: Marfa;
  font-style: normal;
  font-weight: 900;
  src: url(/assets/fonts/ABCMarfa-Black.woff2)format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Marfa;
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/ABCMarfa-Bold.woff2)format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Marfa;
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/ABCMarfa-Medium.woff2)format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Marfa;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/ABCMarfa-Regular.woff2)format("woff2");
}

html {
  --supports-style-queries: true;
  font-size: var(--default-font-size);
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--sticky-base-offset);
}

html:has([data-modal-open=true]),html:has(dialog.modal[open]) {
  overflow: hidden;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 400;
  line-height: var(--line-height-base);
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

button {
  appearance: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  background: 0 0;
  border: none;
  padding: 0;
}

* {
  outline: var(--outline-width) solid #0000;
  outline-offset: var(--outline-width);
}

:focus-visible {
  outline: var(--outline-width) solid var(--outline-color);
}

h1,h2,h3,h4,h5,h6 {
  margin-block: calc(var(--heading-margin-block-start-em)*1em) calc(var(--heading-margin-block-end-em)*1em);
}

p {
  margin-block: calc(var(--paragraph-margin-block-em)*1em);
}


/* Hidden visually but readable by screen readers; focusable elements reappear on focus. */
.visually-hidden:not(:focus, :active) {
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
