.block-section-intro {
  container-type: inline-size;
}

.block-section-intro__heading {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-block: 0 .75em;
  overflow-wrap: anywhere;
}

.block-section-intro__text {
  margin: 0;
  max-inline-size: 65ch;
  white-space: pre-line;
  overflow-wrap: anywhere;
}

@container (inline-size >= 40rem) {
  .block-section-intro__heading { font-size: 2rem; }
}
