{{define "blocks_group" -}}
{{- $shape := .BackgroundShape -}}
<div {{editable .}} class="blocks-group blocks-group--spacing-{{.SpacingClass}}
  {{- with .BackgroundColor.Value}} blocks-group--colored{{end}}
  {{- if eq .ShapeVariant "rounded-corners"}} blocks-group--rounded{{end}}
  {{- if $shape}} blocks-group--with-shape{{end}}"
  {{- with .BackgroundColor.Value}} style="--blocks-group-background-color: {{.}}"{{end}}>
  <div class="blocks-group__content{{with .ContentWidthClass}} blocks-group__content--{{.}}{{end}}">{{renderAll .Blocks}}</div>
  {{- if $shape}}
  <div class="blocks-group__shape blocks-group__shape--{{.BackgroundAlignment}}">{{$shape}}</div>
  {{- end}}
</div>
{{- end}}
