.card__title--narrow {
  padding-inline: var(--spacing-3xl);
}

.card__decoration {
  color: var(--decoration-color, var(--grayscale-500));
  left: var(--spacing-2xl);
  position: absolute;
  top: var(--spacing-xl);
  transform: rotate(-30deg);
}

.card__decoration svg {
  height: 60px;
  width: auto;
}
