{{define "card_with_image_and_overlay" -}}
<div {{editable .}} class="card card--overlay{{if not .Link.IsZero}} card--linked{{end}}">
  {{- if not .Image.IsZero}}
  <div class="card__image">
    <img src="{{.Image.Resize 854 0}}" srcset="{{.Image.SrcSet 427 854 1280}}" sizes="(min-width: 768px) 427px, 100vw"
      alt="{{.Image.Alt}}" aria-hidden="true" width="{{.Image.Width}}" height="{{.Image.Height}}" loading="lazy">
  </div>
  {{- end}}
  {{- if not .Logo.IsZero}}
  <div class="card__floating-logo"><img src="{{.Logo.Filename}}" alt="{{.Logo.Alt}}" width="{{.Logo.Width}}" height="{{.Logo.Height}}" loading="lazy"></div>
  {{- end}}
  <div class="card__content">
    {{- if .Link.IsZero}}
    <span class="card__title">{{.Title}}</span>
    {{- else}}
    <a class="card__title" href="{{.Link.Href}}">{{.Title}}</a>
    {{- end}}
    <div class="card__text richtext">{{richtext .Text}}</div>
    {{- if not .Link.IsZero}}{{template "card_arrow"}}{{end}}
  </div>
</div>
{{- end}}
