.card--overlay {
  overflow: hidden;
  padding-inline: 0;
  position: relative;
}

.card__image img {
  width: 100%;
}

.card__floating-logo {
  left: 40px;
  position: absolute;
  top: 40px;
}

.card--overlay .card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-block-start: var(--spacing-2xl);
  padding-inline: var(--spacing-xl);
}

@media (width >= 992px) {
  .card--overlay .card__content {
    padding-block-start: var(--spacing-3xl);
    padding-inline: var(--spacing-2xl);
  }
}
