{{define "cta_image"}}
<aside {{editable .}} class="cta-image {{if .HasDarkText}}cta-image--dark-text{{else}}cta-image--white-text{{end}}">
  <div class="cta-image__container"{{with .BackgroundColorLight.Value}} style="--cta-image-background-color: {{.}}"{{end}}>
    {{- if not .Image.IsZero}}
    <img class="cta-image__image" src="{{.Image.Resize 172 0}}" alt="{{.Image.Alt}}" loading="lazy">
    {{- end}}
    <div class="cta-image__content richtext">{{richtext .Content}}</div>
    {{renderAll .Cta}}
  </div>
</aside>
{{end}}
