.custom-boxes-grid {
  max-width: var(--default-container-max-width);
  padding-inline: var(--default-container-padding-inline);
  margin-inline: auto;
}

.custom-boxes-grid__grid {
  display: grid;
  gap: var(--spacing-2xl);
}

@media (width >= 576px) {
  .custom-boxes-grid__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 768px) {
  .custom-boxes-grid__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .custom-boxes-grid__grid--2-cols,
  .custom-boxes-grid__grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 1200px) {
  .custom-boxes-grid__grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}

.custom-boxes-grid-small-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  background-color: var(--background-color);
  border: 1px solid var(--grayscale-50);
  border-radius: var(--border-radius-lg);
  text-decoration: none;
}

a.custom-boxes-grid-small-box:hover {
  box-shadow: 0 6px 13px 2px rgb(from var(--black) r g b / 5%);
}

.custom-boxes-grid-small-box__image {
  margin-block-end: var(--spacing-xl);
}

.custom-boxes-grid-small-box__image img {
  display: block;
  width: 50px;
  height: 50px;
}

.custom-boxes-grid-small-box__headline {
  font-size: var(--font-size-xl);
  font-weight: 900;
  line-height: var(--line-height-xl);
  overflow-wrap: anywhere;
  text-wrap: balance;
}

.custom-boxes-grid-small-box__text > :first-child {
  margin-block-start: 0;
}

.custom-boxes-grid-small-box__text > :last-child {
  margin-block-end: 0;
}

.custom-boxes-grid-small-box__text i,
.custom-boxes-grid-small-box__text em {
  margin: 0;
  color: var(--text-color-alt);
}

.custom-boxes-grid--inline-images .custom-boxes-grid-small-box__head {
  display: flex;
  align-items: center;
  margin-block-end: var(--spacing-xl);
}

.custom-boxes-grid--inline-images .custom-boxes-grid-small-box__headline {
  margin: 0;
}

.custom-boxes-grid--inline-images .custom-boxes-grid-small-box__image {
  flex-shrink: 0;
  margin-block-end: 0;
  margin-inline-end: var(--spacing-xl);
}
