{{define "custom_boxes_grid" -}}
<div {{editable .}} class="custom-boxes-grid{{if .InlineImages}} custom-boxes-grid--inline-images{{end}}">
  <div class="custom-boxes-grid__grid{{if eq .Columns "2" "4"}} custom-boxes-grid__grid--{{.Columns}}-cols{{end}}">{{renderAll .Boxes}}</div>
</div>
{{- end}}

{{define "custom_boxes_grid_small_box" -}}
{{if .Link.IsZero}}<div {{editable .}} class="custom-boxes-grid-small-box">{{else}}<a {{editable .}} class="custom-boxes-grid-small-box" href="{{.Link.Href}}" target="_blank">{{end}}
  <div class="custom-boxes-grid-small-box__head">
    {{if not .Image.IsZero}}<div class="custom-boxes-grid-small-box__image"><img src="{{.Image.Resize 100 100}}" width="50" height="50" alt="{{.Image.Alt}}" loading="lazy"></div>{{end}}
    <h3 class="custom-boxes-grid-small-box__headline">{{.Headline}}</h3>
  </div>
  <div class="custom-boxes-grid-small-box__text">{{richtext .Content}}</div>
{{if .Link.IsZero}}</div>{{else}}</a>{{end}}
{{- end}}
