.enterprise-video {
  max-width: var(--section-max-size);
  padding-inline: var(--default-container-padding-inline);
  margin-inline: auto;
}

.enterprise-video__headline {
  font-size: var(--h2-font-size);
  font-weight: 900;
  line-height: var(--h2-line-height);
  margin-block-start: 0;
  text-align: center;
}

.enterprise-video__wrapper {
  border-radius: var(--border-radius-2xl);
  box-shadow: 0 3px 44px 13px rgb(from var(--black) r g b/8%);
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.enterprise-video__body {
  aspect-ratio: var(--video-aspect-ratio);
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  position: relative;
}

.enterprise-video__body :is(iframe,video) {
  border: 0;
  display: block;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}
