{{define "enterprise_video"}}
<div {{editable .}} class="enterprise-video" style="--section-max-size: {{.MaxWidth}}">
  {{- with .Headline}}
  <h2 class="enterprise-video__headline">{{.}}</h2>
  {{- end}}
  <div class="enterprise-video__wrapper">
    <div class="enterprise-video__body" style="--video-aspect-ratio: {{.AspectRatio}}">
      {{- if not .VideoAsset.IsZero}}
      <video controls preload="none" src="{{.VideoAsset.Filename}}"{{with .ThumbnailURL}} poster="{{.}}"{{end}}></video>
      {{- else if .PlayerDocument}}
      <iframe srcdoc="{{.PlayerDocument}}" title="{{.Title}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      {{- end}}
    </div>
  </div>
</div>
{{end}}
