.enterprise-faqs {
  --enterprise-faqs-number-width: var(--spacing-2xl);
  --enterprise-faqs-summary-grid-gap: var(--spacing-lg);
  --enterprise-faqs-summary-padding: var(--spacing-2xl);
  align-items: center;
  gap: var(--spacing-3xl);
  margin-block: var(--spacing-3xl) 0;
  max-width: var(--default-container-max-width);
  padding-inline: var(--default-container-padding-inline);
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  display: flex;
}

@media (width >= 768px) {
  .enterprise-faqs {
    margin-block: var(--spacing-4xl) 0;
  }
}

@media (width >= 1280px) {
  .enterprise-faqs {
    flex-direction: row;
    align-items: flex-start;
  }
}

.enterprise-faqs__headline {
  font-size: var(--h2-font-size);
  font-weight: 900;
  line-height: var(--h2-line-height);
  margin-block-start: 0;
  text-align: center;
  text-wrap: balance;
}

.enterprise-faqs__text {
  text-align: center;
}

.enterprise-faqs__text > :first-child {
  margin-block-start: 0;
}

.enterprise-faqs__image {
  display: block;
  height: auto;
  margin-block-start: var(--spacing-2xl);
  max-width: 100%;
}

@media (width >= 1280px) {
  .enterprise-faqs__headline,
  .enterprise-faqs__text {
    text-align: initial;
  }
}

.enterprise-faqs__list {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 750px;
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: "";
  display: flex;
}
