{{define "enterprise_faqs"}}
<div {{editable .}} class="enterprise-faqs">
  <div class="enterprise-faqs__intro">
    {{- with .Headline}}
    <h2 class="enterprise-faqs__headline">{{.}}</h2>
    {{- end}}
    {{- if not .Text.IsEmpty}}
    <div class="richtext enterprise-faqs__text">{{richtext .Text}}</div>
    {{- end}}
    {{- if not .Image.IsZero}}
    <img class="enterprise-faqs__image" src="{{.Image.Resize 800 0}}" srcset="{{.Image.SrcSet 400 800}}" sizes="(min-width: 1280px) 400px, 90vw" alt="{{.Image.Alt}}" loading="lazy">
    {{- end}}
  </div>
  <ul class="enterprise-faqs__list">
    {{- range .NumberedFaqs}}{{render .}}{{end}}
  </ul>
</div>
{{end}}
