.spacer {
  display: block;
  margin-block: 0;
  margin-inline: auto;
  max-width: var(--default-container-max-width);
  padding-inline: var(--default-container-padding-inline);
  position: relative;
}

.width-limited-container .spacer {
  max-width: 100%;
  padding-inline: unset;
}

.spacer__line {
  border: 1px solid var(--light-gray-100);
  margin: 0;
}

.spacer--sm { height: 30px; }
.spacer--md { height: 80px; }
.spacer--base { height: 100px; }
.spacer--xl { height: 160px; }
