{{define "facts_with_images" -}}
<div {{editable .}} class="facts-with-images">
  <ul class="facts-with-images__items">{{renderAll .Facts}}</ul>
</div>
{{- end}}

{{define "fact_with_image" -}}
<li {{editable .}} class="fact-with-image">
  {{with .Image}}{{if not .IsZero}}<img class="fact-with-image__image" src="{{.Resize 280 0}}" width="{{.Width}}" height="{{.Height}}" alt="{{.Alt}}" loading="lazy">{{end}}{{end}}
  <dl>
    <dt class="fact-with-image__value">{{.Value}}</dt>
    <dd class="fact-with-image__key">{{.Key}}</dd>
  </dl>
</li>
{{- end}}
