.facts-with-images {
  max-width: var(--default-container-max-width);
  padding-inline: var(--default-container-padding-inline);
  margin-block: 55px;
  margin-inline: auto;
}

.facts-with-images__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-3xl);
  margin: 0;
  padding: 0;
  list-style: none;
}

.fact-with-image {
  display: flex;
  flex-direction: column;
  flex-basis: 11rem;
}

.fact-with-image dl {
  margin: 0;
}

.fact-with-image__image {
  display: block;
  width: 140px;
  height: 37px;
  margin-bottom: 34px;
  object-fit: contain;
  object-position: center left;
}

.fact-with-image__value {
  color: var(--blue-800);
  font-size: var(--font-size-2xl);
  font-weight: 700;
  line-height: var(--line-height-2xl);
  margin-bottom: 11px;
}

.fact-with-image__key {
  color: var(--text-color-alt);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin: 0;
}
