.faq-item {
  border-bottom: 1px solid var(--grayscale-100);
  width: 100%;
  position: relative;
}

.faq-item__details {
  color: var(--text-color-alt);
  display: block;
  position: relative;
}

.faq-item__summary {
  cursor: pointer;
  list-style: none;
  grid-column-gap: var(--spacing-lg);
  color: var(--text-color);
  font-size: var(--font-size-lg);
  grid-template-columns: var(--enterprise-faqs-number-width, var(--spacing-2xl)) 1fr auto;
  line-height: var(--line-height-lg);
  padding: var(--enterprise-faqs-summary-padding, var(--spacing-2xl));
  align-items: baseline;
  display: grid;
  position: relative;
}

.faq-item__summary::-webkit-details-marker {
  display: none;
}

[open] > .faq-item__summary {
  padding-block-end: calc(var(--enterprise-faqs-summary-padding, var(--spacing-2xl))/2);
}

.faq-item__number {
  color: var(--blue-800);
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: var(--line-height-sm);
  display: block;
  transform: translateY(-.05em);
}

/* A plus sign that turns into a minus when the answer is open. */
.faq-item__indicator {
  width: .75em;
  height: .75em;
  display: block;
  position: relative;
}

.faq-item__indicator::before,
.faq-item__indicator::after {
  --status-indicator-width: 2px;
  border-block-end: var(--status-indicator-width) solid;
  content: "";
  height: 0;
  right: 0;
  top: calc(50% - var(--status-indicator-width));
  width: 100%;
  display: block;
  position: absolute;
}

.faq-item__indicator::after {
  transform-origin: 50%;
  transform: rotate(90deg);
}

[open] .faq-item__indicator::after {
  transform: rotate(0);
}

.faq-item__answer {
  color: var(--text-color-alt);
  padding-block-end: var(--enterprise-faqs-summary-padding, var(--spacing-2xl));
  padding-inline: calc(var(--enterprise-faqs-summary-padding, var(--spacing-2xl)) + var(--enterprise-faqs-number-width, var(--spacing-2xl)) + var(--enterprise-faqs-summary-grid-gap, var(--spacing-lg))) var(--enterprise-faqs-summary-padding, var(--spacing-2xl));
  display: block;
}

.faq-item__answer .richtext > :first-child {
  margin-block-start: 0;
}

.faq-item__answer .richtext > :last-child {
  margin-block-end: 0;
}
