{{define "image_with_decorations"}}
<div {{editable .}} class="image-with-decorations{{if .Rotate}} image-with-decorations--rotate{{end}}">
  <div class="image-with-decorations__frame">
    <div class="image-with-decorations__wrapper">
      {{range .Decorations}}<div class="image-with-decorations__decoration image-with-decorations__decoration--{{.}}"><span>{{template "svg_decoration" .}}</span></div>{{end}}
      {{with .Image}}{{if not .IsZero}}
      <img src="{{.Resize 1280 0}}" srcset="{{.SrcSet 640 960 1280 1920 2560}}" sizes="(width >= 1328px) 1280px, 100vw"
        width="{{.Width}}" height="{{.Height}}" alt="{{.Alt}}" loading="lazy">
      {{end}}{{end}}
    </div>
  </div>
</div>
{{end}}
