{{define "quotes"}}
<div {{editable .}} class="quotes">
  <div class="quotes__container{{if .Scrolls}} quotes__container--scrolling{{end}}">{{renderAll .Quotes}}</div>
</div>
{{end}}

{{define "quotes_item"}}
<figure {{editable .}} class="quotes-item">
  <span>
    <span class="quotes-item__headline">{{.Headline}}</span>
    {{- if not .HeadlineDecoration.IsZero}}
    <span class="quotes-item__decoration"><img src="{{.HeadlineDecoration.Filename}}" width="{{.HeadlineDecoration.Width}}" height="{{.HeadlineDecoration.Height}}" alt="" loading="lazy"></span>
    {{- end}}
  </span>
  {{with .Quote.Story}}{{with .Content}}
  <blockquote class="quote-text"><p>{{.Text}}</p></blockquote>
  <figcaption class="quotes-item__author-container">
    {{if not .Image.IsZero}}<img src="{{.Image.Resize 96 96}}" width="48" height="48" alt="{{.FullName}}" loading="lazy">{{end}}
    <p class="quotes-item__author">{{.FullName}}{{with .Role}}, {{.}}{{end}}</p>
  </figcaption>
  {{end}}{{end}}
</figure>
{{end}}
