.section-heading {
  display: flex;
  margin-block-start: var(--spacing-3xl);
  margin-inline: auto;
  max-width: var(--default-container-max-width);
  padding-inline: var(--default-container-padding-inline);
}

.width-limited-container .section-heading {
  max-width: 100%;
  padding-inline: unset;
}

.section-heading--column {
  flex-direction: column;
  row-gap: var(--spacing-2xl);
}

.section-heading--row {
  flex-direction: column;
  gap: var(--spacing-2xl);
}

@media (width >= 768px) {
  .section-heading--row {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.section-heading--center {
  text-align: center;
}

.section-heading--left {
  text-align: center;
}

@media (width >= 768px) {
  .section-heading--left {
    text-align: start;
  }
}

.section-heading--has-eyebrow {
  text-align: start;
}

.section-heading__content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-2xl);
}

.section-heading__eyebrow {
  align-items: center;
  color: var(--eyebrow-accent-color);
  display: flex;
  font-size: var(--font-size-xl);
  font-weight: 700;
  gap: var(--spacing-xl);
}

.section-heading__headline {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-4xl);
  margin-block: 0;
}

.section-heading__headline--large {
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-5xl);
}

@media (width >= 768px) {
  .section-heading__headline {
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-5xl);
  }

  .section-heading__headline--large {
    font-size: var(--font-size-7xl);
    line-height: var(--line-height-7xl);
  }
}

.section-heading__text :is(a, p) {
  color: var(--text-color-alt);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.section-heading__text p {
  max-width: 955px;
}

.section-heading--center:not(.section-heading--has-eyebrow) :is(.section-heading__text, .section-heading__small-print) {
  margin-inline: auto;
}

.section-heading__ctas {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: var(--spacing-2xl);
}

.section-heading__small-print {
  color: var(--text-color-alt);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  margin: 0;
}

.section-heading__small-print img {
  display: inline-block;
  vertical-align: bottom;
}

.section-heading--center:not(.section-heading--has-eyebrow) .section-heading__text p {
  margin-inline: auto;
}
