{{define "site_footer" -}}
<footer class="site-footer">
  <div class="site-footer__content">
    <nav class="site-footer__nav" aria-label="Footer">{{renderAll .Footer}}</nav>
    <div class="site-footer__baseline">
      <p class="site-footer__copyright">Copyright &copy; 2017-2026 Storyblok GmbH</p>
      <div class="site-footer__logo">{{.Logo}}</div>
      {{- with .FooterSocials}}
      <nav aria-label="Social media">
        <ul class="site-footer__socials">{{renderAll .}}</ul>
      </nav>
      {{- end}}
    </div>
  </div>
</footer>
{{- end}}
