{{define "tile"}}
<div {{editable .}} class="tile{{if .IsFullWidth}} tile--full-width tile--{{.FullWidthLayout}}{{end}}"{{with .BackgroundColor.Value}} style="--tile-background-color: {{.}}"{{end}}>
  {{- range .Parts}}
  {{- if eq . "title"}}
  {{- if not $.Title.IsEmpty}}
  <div class="tile__title richtext">{{richtext $.Title}}</div>
  {{- end}}
  {{- else if eq . "description"}}
  {{- if not $.Description.IsEmpty}}
  {{- if $.Link.IsZero}}
  <div class="tile__description"><div class="richtext">{{richtext $.Description}}</div></div>
  {{- else}}
  <a href="{{$.Link.Href}}" class="tile__description tile__link"{{if $.Link.IsExternal}} target="_blank" rel="noopener"{{end}}><div class="richtext">{{richtext $.Description}}</div></a>
  {{- end}}
  {{- end}}
  {{- else if and (eq . "image") (not $.Image.IsZero)}}
  <div class="tile__image{{with $.ImageEdge}} tile__image--{{.}}{{end}}" style="--relative-max-image-width: {{$.ImageWidth}}">
    <img src="{{$.Image.Resize 1100 0}}" srcset="{{$.Image.SrcSet 400 700 1100 1400}}" sizes="{{$.ImageSizes}}"{{with $.Image.Width}} width="{{.}}"{{end}}{{with $.Image.Height}} height="{{.}}"{{end}} alt="{{$.Image.Alt}}" loading="lazy">
  </div>
  {{- end}}
  {{- end}}
</div>
{{end}}
