.tile {
  --tile-padding: var(--spacing-2xl);
  background-color: var(--tile-background-color,var(--grayscale-50));
  border-radius: var(--border-radius-2xl);
  gap: var(--spacing-2xl);
  height: 100%;
  padding: var(--tile-padding);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  display: flex;
  position: relative;
}

@media (width>=768px) {
  .tile {
    --tile-padding: var(--spacing-3xl);
  }
}

.tile :is(ol,ul) {
  max-width: fit-content;
  margin-inline: auto;
}

.tile :is(ol,ul) li {
  text-align: left;
}

.tile__title :is(h1,h2,h3) {
  font-size: var(--h2-font-size);
  font-weight: 900;
  line-height: var(--h2-line-height);
  margin: 0;
  overflow-wrap: anywhere;
  text-wrap: balance;
}

.tile__description {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin: 0;
}

.tile__description p {
  margin-block: calc(var(--paragraph-margin-block-em)*1em);
}

.tile__description .richtext > :first-child {
  margin-block-start: 0;
}

.tile__description .richtext > :last-child {
  margin-block-end: 0;
}

.tile__link {
  text-decoration: none;
}

/* Makes the whole tile clickable. */
.tile__link::after {
  content: "";
  position: absolute;
  inset: 0;
}

.tile__image {
  width: var(--relative-max-image-width,100%);
  flex: 1;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.tile__image img {
  display: block;
  height: auto;
  max-width: 100%;
}

.tile__image--top {
  margin-top: calc(var(--tile-padding)*-1);
  align-items: start;
}

.tile__image--bottom {
  margin-bottom: calc(var(--tile-padding)*-1);
  align-items: end;
}

@media (width>=768px) {
  .tile--full-width {
    grid-column: span 2;
  }
}

@media (width>=992px) {
  .tile--full-width {
    column-gap: var(--spacing-3xl);
    text-align: left;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .tile--full-width :is(ol,ul) {
    margin-inline: unset;
    max-width: unset;
  }

  .tile--full-width .tile__image {
    grid-row: 1/span 2;
    place-self: stretch center;
  }

  .tile--full-width .tile__title {
    align-self: end;
  }

  .tile--full-width .tile__description {
    align-self: start;
  }

  .tile--image_right .tile__image {
    grid-column: 2;
  }

  .tile--image_left .tile__image {
    grid-column: 1;
  }
}

@media (width>=1280px) {
  .tile--image_left {
    grid-template-columns: 8fr 5fr;
  }

  .tile--image_right {
    grid-template-columns: 5fr 8fr;
  }
}
